<div class="product product-2" *ngIf="product">
    <div>
        <!-- <span class="product-label label-circle label-new" *ngIf="product.new">New</span>
        <span class="product-label label-circle label-sale" *ngIf="product.sale_price">Sale</span>
        <span class="product-label label-circle label-top" *ngIf="product.top">Top</span>
        <span class="product-label label-circle label-out" *ngIf="!product.stock || product.stock == 0">Out Of
            Stock</span> -->

        <a [routerLink]="['/product/default/'+ product?.asin]">
          <ng-template *ngIf="product?.imagesObj?.images && product?.imagesObj?.images.length > 0"></ng-template>
            <img [src]="product?.imagesObj?.images[0].url + '?h=277&w=277&fit=fill'" alt="Product" class="product-image"/>
        </a>

        <div class="product-action product-action-dark">
            <a [routerLink]="['/product/default/']" class="btn-product btn-cart btn-select">
            </a>
            <a href="javascript:;" class="btn-product btn-wishlist" [class.added-to-wishlist]="true" title="Quick view"></a>
        </div>
    </div>

    <div class="product-body">
        <div class="product-cat">
            <span>
                <a [routerLink]="['/shop/sidebar/list']">{{ product?.category }}</a>
            </span>
        </div>

        <h3 class="product-title">
            <a [routerLink]="['/product/default/']">{{ product?.title }}</a>
        </h3>

        <!-- <div class="product-price" *ngIf="!product.stock || product.stock == 0 else elseBlock">
            <span class="out-price">${{ product.price.toFixed(2) }}</span>
        </div> -->

            <!-- <div class="product-price" *ngIf="!product.price.discounted else elseBlock">₹{{ product.price.currentPrice }}</div> -->
                <div class="product-price">
                    <span class="new-price">₹{{ product.price.currentPrice }}</span>
                    <span class="old-price" *ngIf="product.price.discounted">₹{{ product.price.beforePrice }}</span>
                    <!-- <span class="old-price no-text-dec" style="font-size: 11px;" *ngIf="product.price.discounted && product.price.savingsPercent && !product.price.savingsPercent.startsWith('0')">({{ product.price.savingsPercent }}% off)</span> -->
                </div>
        <div class="ratings-container">
            <div class="ratings">
                <div class="ratings-val" [style.width]="rating * 20 + '%'"></div>
                <span class="tooltip-text">{{ rating.toFixed(2) }}</span>
            </div>
            <span class="ratings-text">( {{ product.rating.totalReview }} Reviews )</span>
        </div>
    </div>
</div>