<div class="container">
    <h2 class="title text-center mb-4" contentAnim aniName="blurIn">Explore Popular Categories</h2>
    
    <div class="cat-blocks-container" contentAnim>
        <div class="row">

            <div class="col-6 col-sm-4 col-lg-2">
                <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'camera'}" class="cat-block">
                    <figure>
                        <span>
                            <img src="https://images.ctfassets.net/ytluggqvzyc1/6au81i8dBibFEDjHVbwjg/f5e3142006d3eaf517e9fff0b90c2819/pngwing.com__6_.png" width="124" height="81" alt="Category image">
                        </span>
                    </figure>

                    <h3 class="cat-block-title">Smart Phones</h3>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'phones'}" class="cat-block">
                    <figure>
                        <span>
                            <img src="https://images.ctfassets.net/ytluggqvzyc1/7u52NS3ougmWuatIP80CJq/0e04563fb68056e595be972bfa3a5a0d/pngwing.com__5_.png" width="124" height="81" alt="Category image">
                        </span>
                    </figure>

                    <h3 class="cat-block-title">Tablets</h3>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'televisions'}" class="cat-block">
                    <figure>
                        <span>
                            <img src="https://images.ctfassets.net/ytluggqvzyc1/3rhBYO9SALBA6ujp8KNcOV/b0242f08ff167716878cdafa4c949896/pngwing.com__4_.png" width="124" height="81" alt="Category image">
                        </span>
                    </figure>

                    <h3 class="cat-block-title">IPhones</h3>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'computer'}" class="cat-block">
                    <figure>
                        <span>
                            <img src="https://images.ctfassets.net/ytluggqvzyc1/q6vUT897kEmLhJOaYpvMF/2bfe492ecae4016d14adc68ded642662/pngwing.com__7_.png" width="67" height="81" alt="Category image">
                        </span>
                    </figure>

                    <h3 class="cat-block-title">Basic Phones</h3>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'audio'}" class="cat-block">
                    <figure>
                        <span>
                            <img src="https://images.ctfassets.net/ytluggqvzyc1/1Fj3jRAVd5gTWlxdvYZUML/884b93992aeafab2c1d9507ce7f76785/output-onlinepngtools__1_.png" width="124" height="81" alt="Category image">
                        </span>
                    </figure>

                    <h3 class="cat-block-title">Audio</h3>
                </a>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'watches'}" class="cat-block">
                    <figure>
                        <span>
                            <img src="https://images.ctfassets.net/ytluggqvzyc1/2PB462wbOLxyVQ7gNnIS2w/141d86a8abbb50a26822d24fff996b4b/pngwing.com__1_.png" width="110" height="81" alt="Category image">
                        </span>
                    </figure>

                    <h3 class="cat-block-title">Smart Watches</h3>
                </a>
            </div>
        </div>
    </div>
</div>