<div class="container" contentAnim>
    <hr class="mb-0">
    <owl-carousel carouselClasses="brands-border mt-3 mb-3 owl-simple owl-theme" [options]="brandSlider">
        <a href="javascript:;" class="brand">
            <img src="https://images.ctfassets.net/ytluggqvzyc1/1PKISKWnFOmQnB5HlGeGOT/baaff4108465c8bd3a9aaafe8aaf26c2/oneplus.png" alt="OnePlus">
        </a>

        <a href="javascript:;" class="brand">
            <img src="https://images.ctfassets.net/ytluggqvzyc1/2L2CkKdfSUtWiBrEtYTedq/da52e253264ef7cdc185b089a8990cd2/mi.png?fit=fill&h=60" alt="Brand Name">
        </a>

        <a href="javascript:;" class="brand">
            <img src="https://images.ctfassets.net/ytluggqvzyc1/2GGPlqpQNoWiAbMybWHyhV/f18627fd42412b1dd79539126a938f0a/nokia.png" alt="Brand Name">
        </a>

        <a href="javascript:;" class="brand">
            <img src="https://images.ctfassets.net/ytluggqvzyc1/2OGBGP68rRWdszEqa5r6y9/c3f389413395c665ffb5b0834e7c774c/apple.png?fit=fill&h=60" alt="Brand Name">
        </a>

        <a href="javascript:;" class="brand">
            <img src="https://images.ctfassets.net/ytluggqvzyc1/fEifSQRg8oIs9jlwOunyx/54866ce21322b6915f8d7b51923cce2a/samsung.png?fit=fill&h=60" alt="Brand Name">
        </a>

        <a href="javascript:;" class="brand">
            <img src="https://images.ctfassets.net/ytluggqvzyc1/1ioCUrwqHszm46vbKosdM5/ae21d0757d02ec5ffbfde688c611414b/oppo.png" alt="Brand Name">
        </a>

        <a href="javascript:;" class="brand">
            <img src="https://images.ctfassets.net/ytluggqvzyc1/3jDCPc7Np2wFRb60yrne8/ee6442c43ba5f4b2992b6fb9573f0a2c/vivo.png" alt="Brand Name">
        </a>
    </owl-carousel>
</div>