<div class="intro-slider-container mb-10">
    <owl-carousel carouselClasses="intro-slider owl-theme owl-simple owl-nav-inside owl-light" [options]="introSlider">
        <div class="intro-slide" style="background-image: url('https://images.ctfassets.net/ytluggqvzyc1/1zNN0pHQM6EcHz6SqKPwzZ/2ca42a2ec4de5a06d992579dbd537812/placeholderBanner_1680697754_231.jpg?h=437&w=1528')"></div>
        <div class="intro-slide" style="background-image: url('https://images.ctfassets.net/ytluggqvzyc1/6Kvb2AG1Fx3a7QfJnv0bJM/db74b68abb459de2e742807979bafb1f/placeholderBanner_1683119481_236.jpg?h=400&w=1528')"></div>
        <div class="intro-slide" style="background-image: url('https://images.ctfassets.net/ytluggqvzyc1/6Kvb2AG1Fx3a7QfJnv0bJM/db74b68abb459de2e742807979bafb1f/placeholderBanner_1683119481_236.jpg?h=400&w=1528')"></div>
        <div class="intro-slide" style="background-image: url('https://images.ctfassets.net/ytluggqvzyc1/6Kvb2AG1Fx3a7QfJnv0bJM/db74b68abb459de2e742807979bafb1f/placeholderBanner_1683119481_236.jpg?h=400&w=1528')"></div>
    </owl-carousel>
</div>